

<form action="/login" method="post">
  <input type="hidden" name="password" value="fake" />  
  <div class="input-group">
	<input class="form-control"  pattern="[a-zA-Z0-9]+" type="text" name="username" placeholder="username (No Spaces)"/>
	<span class="input-group-addon" >Username</span>    	
  </div>
  <div>
	<input  class="form-control  btn btn-primary"  type="submit" value="Log In"/>
  </div>
</form>
