
<form method="POST">

  {{#if success}}
    <div class="alert alert-success">
	  Success, requests create! Check <a href="/list">the list</a>!
    </div>
  {{/if }}
  
  <div class="input-group">
    <input class="form-control" type="text" name="question" placeholder="What color is this dress?">
    <span class="input-group-addon" >Question?</span>    	
  </div>

  <div class="input-group">
    <input class="form-control" type="text" name="image" placeholder="http://www...">
    <span class="input-group-addon" >Image URL</span>    	
  </div>

  <div class="input-group">
    <input class="form-control" type="text" name="options" placeholder="white and gold, blue and orange">
    <span class="input-group-addon" >Options (comma separated)</span>    	
  </div>  
  
  <input type="submit" class="form-control" value="Send the message!"> 
  
</form>
